---

---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Notes</title>
  </head>
  <body>
    <button id="header-1-btn">H1</button>
    <button id="header-2-btn">H2</button>
    <button id="p-btn">P</button>
    <button id="list-btn">List</button>
    <div contenteditable id="content"></div>
    <div id="test"></div>
    <script type="module">
      import { marked } from "https://cdn.jsdelivr.net/npm/marked/lib/marked.esm.js";

      const content = document.getElementById("content");
    </script>
  </body>
</html>
<style>
  p {
    display: inline-block;
    min-height: 1rem;
  }
</style>
